<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.StoreDao">

    <select id="FindAll" resultType="com.cn.entity.Store">
        select * from store_info
    </select>

    <select id="FindById" resultType="com.cn.entity.Store" parameterType="java.lang.Integer">
        select * from store_info where id=#{id}
    </select>

    <update id="UpdateStore" parameterType="com.cn.entity.Store">
        update store_info set city=#{city},lon=#{lon},lat=#{lat},phone=#{phone},business_scope=#{business_scope},
        under_age=#{under_age},puber=#{puber},young_man=#{young_man},middle_aged=#{middle_aged},aged=#{aged} where store_name=#{store_name}
    </update>

    <delete id="DelStore" parameterType="java.lang.String">
        delete from store_info where store_name=#{store_name}
    </delete>

    <insert id="AddStore" parameterType="com.cn.entity.Store">
        insert into store_info(store_name,city,lon,lat,phone,business_scope,under_age,puber,young_man,middle_aged,aged) values
        (#{store_name,#{city},#{lon},#{lat},#{phone},#{business_scope},#{under_age},#{puber},#{young_man},#{middle_aged},#{aged})
    </insert>

    <select id="IsExist">

    </select>

</mapper>