<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.StoreDao">

    <select id="FindAll" resultType="com.cn.entity.Store" parameterType="Map">
        select * from store_info limit #{startIndex},#{pageSize};
    </select>

    <select id="StoreAndSales" resultType="com.cn.entity.StoreAndSales">
        select * from store_info,sale_info where store_info.id = sale_info.id
    </select>

    <select id="FindById" resultType="com.cn.entity.Store" parameterType="java.lang.Integer">
        select * from store_info where id=#{id}
    </select>


    <update id="UpdateStore" parameterType="com.cn.entity.Store">
        update store_info set store_name=#{store_name},city=#{city},lon=#{lon},lat=#{lat},phone=#{phone},business_scope=#{business_scope} where id=#{id}
    </update>


    <delete id="DelStore" parameterType="java.lang.Integer">
        delete from store_info where id=#{id}
    </delete>



    <insert id="AddStore" parameterType="com.cn.entity.Store">
        insert into store_info(store_name,city,lon,lat,phone,business_scope) values
        (#{store_name},#{city},#{lon},#{lat},#{phone},#{business_scope})
    </insert>


    <select id="IsExist" parameterType="java.lang.String" resultType="com.cn.entity.Store">
        select * from store_info where store_name = #{store_name}
    </select>
<!--    parameterType="com.cn.entity.Store"-->
    <select id="Query"  resultType="com.cn.entity.Store">
        select * from store_info
        <where>
            <if test="store_name != null and store_name != ''">
                and store_name like "%"#{store_name}"%"
            </if>
            <if test="city != null and city != ''">
                and city = #{city}
            </if>
            <if test="business_scope != null and business_scope != ''">
                and business_scope = #{business_scope}
            </if>
            <if test="phone != null and phone != ''">
                and phone like #{phone}"%"
            </if>
        </where>
        limit #{startIndex},50;
    </select>

</mapper>