<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.StoreDao">

    <select id="FindAll" resultType="com.cn.entity.Store">
        select * from store_info
    </select>

    <select id="FindById" resultType="com.cn.entity.Store" parameterType="java.lang.Integer">
        select * from store_info where id=#{id}
    </select>
</mapper>