<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.UserDao">

    <select id="login" parameterType="com.cn.entity.CommonUser" resultType="com.cn.entity.UserInfo">
        select * FROM userinfo WHERE username = #{username} AND password = #{password}
    </select>

  <select id="findall" resultType="com.cn.entity.UserInfo">
      select * from userinfo limit #{startIndex},50;
  </select>

    <insert id="adduser"  parameterType="com.cn.entity.UserInfo">
       INSERT INTO userinfo(username,age,sex,phone,email,password) VALUES (#{username},#{age},#{sex},#{phone},#{email},#{password})
    </insert>

    <select id="findByid" parameterType="java.lang.Integer" resultType="com.cn.entity.UserInfo">
      SELECT  * FROM userinfo where id=#{id}
    </select>

    <select id="findByUsername" parameterType="java.lang.String" resultType="com.cn.entity.UserInfo">
      SELECT  * FROM userinfo where username=#{username}
    </select>
    
    <update id="updateUser" parameterType="com.cn.entity.UserInfo">
      update  userinfo SET age =#{age},sex=#{sex},phone=#{phone},email=#{email},password=#{password} WHERE username = #{username}
    </update>

    <delete id="delUser" parameterType="java.lang.String">
     DELETE from userinfo WHERE username = #{username}
    </delete>

    <select id="isexist" parameterType="java.lang.String" resultType="com.cn.entity.UserInfo">
      SELECT  * FROM userinfo where username = #{username}
    </select>
    
    <select id="Query" resultType="com.cn.entity.UserInfo">
        select * from userinfo
        <where>
            <if test="username != null and username != ''">
                and username like "%"#{username}"%"
            </if>
            <if test="age != null and age !=''">
                and age = #{age}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="phone != null and phone !=''">
                and phone like #{phone}"%"
            </if>
        </where>
        limit #{startIndex},50;
    </select>

</mapper>