<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.UserDao">

    <select id="login" parameterType="com.cn.entity.UserInfo" resultType="com.cn.entity.UserInfo">
        select * FROM userinfo WHERE username = #{username} AND password = #{password}
    </select>

  <select id="findall" resultType="com.cn.entity.UserInfo">
      select * from userinfo
  </select>

    <insert id="adduser"  parameterType="com.cn.entity.UserInfo">
       INSERT INTO userinfo(username,age,sex,phone,email,password) VALUES (#{username},#{age},#{sex},#{phone},#{email},#{password})
    </insert>

    <select id="findByid" parameterType="java.lang.Integer" resultType="com.cn.entity.UserInfo">
      SELECT  * FROM userinfo where id = #{id}
    </select>
    
    <update id="updateUser" parameterType="com.cn.entity.UserInfo">
      update  userinfo SET age =#{age},sex=#{sex},phone=#{phone},email=#{email},password=#{password} WHERE username = #{username}
    </update>

    <delete id="delUser" parameterType="java.lang.Integer">
     DELETE from userinfo WHERE id = #{id}
    </delete>

    <select id="isexist" parameterType="java.lang.String" resultType="com.cn.entity.UserInfo">
      SELECT  * FROM userinfo where username = #{username}
    </select>

</mapper>