<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/indexAd.css">
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <title>管理后台</title>
</head>
<body>
    <div id="div1">
        <img src="../../static/img/adminPic.jfif" />
        <label id="username">songyang</label>
        <div id="managerPer">
            <a id="managerPerA" href="/admin/personInfo">个人信息</a><br><br><br>
        </div>
        <div id="managerUser">
            <a id="managerUserA">用户管理</a><br><br><br>
        </div>
        <div id="managerStore">
            <a id="managerStoreA">电商管理</a><br><br><br>
        </div>

    </div>
    <div id="div2">

    </div>
</body>
</html>