<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/indexAd.css">
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <title>管理后台</title>
</head>
<body>
    <div id="div1">
        <img src="../../static/img/adminPic.jfif" />
        <label id="username">songyang</label>
        <div id="managerPer">
            <a id="managerPerA" href="/admin/personInfo">个人信息</a><br><br><br>
        </div>
        <div id="managerUser">
            <a id="managerUserA">用户管理</a><br><br><br>
        </div>
        <div id="managerStore">
            <a id="managerStoreA">电商管理</a><br><br><br>
        </div>

    </div>
    <div id="div2">
        <div id="div3">
            <img id="personImg" src="../../static/img/adminPic.jfif" />
            <label style="position: absolute;left: 13%;top: 15%;font-size: 16pt;font-weight: bold">songyang</label><br><br>
            <hr>
            <label>登录密码：<input maxlength="16"><br></label><br><br><br><br>
            <span id="text-password">为了保证您账户的安全，建议您定期更换密码保护账户</span>
            <hr>
            <label>联系电话：<input maxlength="11" oninput="value=value.replace(/[^\d]/g,'')"><br></label><br><br><br><br>
            <span id="text-phone">联系电话用于账户找回、安全验证等，敬请期待</span>
            <hr>
            <label>联系邮箱：<input maxlength="16"><br></label><br><br><br><br>
            <span id="text-email">邮箱可用于账户验证，登录等辅助手段，敬请期待</span>
            <hr>
        </div>
    </div>
</body>
</html>