<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script src="https://cdn.bootcss.com/d3/3.5.14/d3.js"></script>
    <link rel="stylesheet" href="../../static/css/index.css">
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=COCfvS8ZjqUa3ZoaN7CIX4rzrP0Z1Oid"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <script th:src="@{/static/js/MarkerClusterer_min.js}"></script>
    <script th:src="@{/static/js/TextIconOverlay_min.js}"></script>
    <script th:src="@{/static/js/GeoUtils.js}"></script>

    <script th:src="@{/static/js/d3.v3.js}"></script>
    <script th:src="@{/static/js/d3tip.js}"></script>
    <title>个人中心</title>
    <link rel="shortcut icon" href="../../static/img/favicon.icon" type="image/x-icon">
</head>
<body>
    <div id="allmap" style="position:absolute;left: 14%;height: 50%;;width: 40%">

    </div>
    <div id="div1">
        <img style="width: 70px;height: 70px;border-radius: 50%;position: absolute;top: 8%;left: 50%;transform: translate(-50%, -8%)" src="../../static/img/seven.jpg" />
        <label id="username" th:text="${user.username}"></label>
        <label id="personInfo">个人信息</label>
        <hr size="7 px" style="position:relative;top:220px;background-color: floralwhite;border: none">
        <label>年龄：<input id="age" th:value="${user.age}" disabled="disabled" maxlength="3" autocomplete="off"
                         oninput="value=value.replace(/^(0+)|[^\d]+/g,'')" placeholder="请输入年龄"
                         style="font-weight: 500;border: none;background-color: #F8F5F1;width: 160px;height: 26px;font-size: 14px"><br></label><br>

        <label>性别：<select id="sex" th:value="${user.sex}" disabled="disabled" required="required"
                          style="width: 160px;height: 24px;text-align: center;text-align-last: center;background-color: #F8F5F1;font-weight: 500;border: none;height: 26px;font-size: 14px" >
            <option value="男" th:selected="${user.sex=='男'}">&nbsp&nbsp&nbsp&nbsp男</option>
            <option value="女" th:selected="${user.sex=='女'}">&nbsp&nbsp&nbsp&nbsp女</option>
        </select></label><br><br>

        <label>电话：<input id="phone" th:value="${user.phone}" disabled="disabled" maxlength="11" autocomplete="off"
                         oninput="value=value.replace(/[^\d]/g,'')" placeholder="请输入电话"
                         style="font-weight: 500;border: none;background-color: #F8F5F1;width: 160px;height: 26px;font-size: 14px"><br></label><br>

        <label>邮箱：<input id="email" th:value="${user.email}" disabled="disabled" maxlength="16" autocomplete="off" placeholder="请输入邮箱"
                         style="font-weight: 500;border: none;background-color: #F8F5F1;width: 160px;height: 26px;font-size: 14px"><br></label><br>

        <label>密码：<input id="password" type="password" th:value="${user.password}" disabled="disabled" maxlength="16" autocomplete="off" placeholder="请输入密码"
                         style="font-weight: 500;border: none;background-color: #F8F5F1;width: 160px;height: 26px;font-size: 14px"></label>

        <button id="edit">编辑</button> <button id="submit" onclick="update()">提交</button>
        <button id="back" onclick="back()">返回</button>
        <input type="hidden" th:value="${StoreList}" id="StoreInfo">
    </div>

    <div id="city_differ" style="position: absolute;left:14%;height: 50%;width: 86%;top: 50%"></div>
    <div id="age_differ" style="position: absolute;left: 54%;height: 50%;width: 46%"></div>
</body>
<script>
    $("#edit").click(function(){
        $("#submit").slideToggle();
        $("#back").slideToggle();
        $(this).hide();
        $("input").removeAttr("disabled");
        $("input").css("background-color","white");
        $("#sex").removeAttr("disabled");
        $("#sex").css("background-color","white");

        /*一定放在此编辑事件内部，获取的应该是每次点击编辑后，但还未进行更改时的数据。
        放在外面，会导致更改信息保存后，再来编辑时，点击返回，会显示更改前的信息*/
        $("input").attr('InitValue',function () {       /*获取除了sex以外对初始值*/
            return this.value;
        })
        $("#sex").attr('InitSex',function () {          /*获取sex初始值*/
            return this.value;
        })
    });

    function back() {                               /*还原初始值*/
        $("input").val(function () {
            return this.getAttribute('InitValue');
        });

        $("#sex").val(function () {
            return this.getAttribute('InitSex')
        });

        $("#back").hide();
        $("#submit").hide();
        $("#edit").slideToggle();
        $("input").attr("disabled",true);
        $("input").css("background-color", "#F8F5F1");
        $("#sex").attr("disabled",true);
        $("#sex").css("background-color","#F8F5F1");
    }

    function update() {
        var username = $("#username").html();
        var age = $("#age").val();
        var sex = $("#sex").val();
        var phone = $("#phone").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var data = {username:username,age:age,sex:sex,phone:phone,email:email,password:password};
        if(age == ""){
            $("#age").attr("class","input change");
        }
        else if(phone == ""){
            $("#phone").attr("class","input change");
        }
        else if(email == ""){
            $("#email").attr("class","input change");
        }
        else if(password == ""){
            $("#password").attr("class","input change");
        }
        else {
            $.ajax({
                url: '/update',
                type: 'post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.code == 200) {
                        alert(res.desc);
                        if(res.change) {
                            window.location.href = "/page/jump?page=login.html";
                        }
                        $("#back").hide();
                        $("#submit").hide();
                        $("#edit").slideToggle();
                        $("input").attr("disabled",true);
                        $("input").css("background-color", "#F8F5F1");
                        $("#sex").attr("disabled",true);
                        $("#sex").css("background-color","#F8F5F1");
                    }else{
                        alert(res.desc);
                    }
                }
            })
        }
    }


    function initMap(){
        getdistrict();
        city_differ();
        age_differ();
        createStore();

    }

    //地图绘制
    var map = new BMap.Map("allmap", {
        minZoom:4,maxZoom:25,//缩放设置
        enableMapClick: false //关闭自带标签
    }); // 创建Map实例
    map.centerAndZoom("成都", 7); // 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes: [
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]
    }));
    map.setCurrentCity("成都"); // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);
    var mapstyle={style:"googlelite"};
    map.setMapStyle(mapstyle);

    //绘制电商
    var poi = new BMap.Point(112.53, 37.87);
    map.centerAndZoom(poi, 7);
    var markers = [];
    var markerClusterer = new BMapLib.MarkerClusterer(map, {markers: markers,
        styles : [{
            url:'../../static/img/StoreList.png',
            size: new BMap.Size(48,48),
            backgroundColor : '#4783E7'
        }],
    });
    var myIcon = new BMap.Icon("../../static/img/store.png", new BMap.Size(16,16));
    function createStore() {
        var store = $("#StoreInfo").val();
        store=eval(store);
        store.push(store[0]);
        map.clearOverlays();
        markerClusterer.clearMarkers();
        var markers = [];
        var pt = null;
        var i = 0;
        for(;i<store.length;i++){
            var lat = store[i].lat;
            var lng = store[i].lon;
            var name = store[i].store_name;
            var point = new BMap.Marker(pt,{icon:myIcon});
            var infoWindow = new BMap.InfoWindow(name);
            point.infoWindow = infoWindow;
            pt = new BMap.Point(lng,lat);
            point.addEventListener("click",function (e) {
                this.openInfoWindow(e.target.infoWindow);
            });
            markers.push(point);
            // if (i==0){
            //     var lat = store[i].lat;
            //     var lng = store[i].lon;
            //     var name = store[i].store_name;
            //     var point = new BMap.Marker(pt,{icon:myIcon});
            //     var infoWindow = new BMap.InfoWindow(name);
            //     point.infoWindow = infoWindow;
            //     pt = new BMap.Point(lng,lat);
            //     point.addEventListener("click",function (e) {
            //         this.openInfoWindow(e.target.infoWindow);
            //     });
            //     markers.push(point);
            // }
        }
        markerClusterer.addMarkers(markers);
    }

    //不同城市之间的差异
    function city_differ() {
        var store = $("#StoreInfo").val();
        store = eval(store);
        var xAxisData = ["北京","天津","石家庄","沈阳","上海","南京","杭州","福州","济南","广州","深圳","海口","香港","澳门","台北","太原","呼和浩特","长春",
            "哈尔滨", "合肥","南昌","郑州","武汉","长沙","南宁","成都","重庆","贵阳","昆明","拉萨","西安","兰州","西宁","银川","乌鲁木齐"];
        var data1 = {};
        var data2 = {};
        var AmountData = [];
        var SellData = [];
        for (var i=0;i<xAxisData.length;i++){
            data1[xAxisData[i]] = 0;
            data2[xAxisData[i]] = 0;
        }
        for (var i=0;i<store.length;i++){
            data1[store[i].city]++;
            data2[store[i].city] = data2[store[i].city] + store[i].under_age + store[i].puber + store[i].young_man + store[i].middle_aged + store[i].aged;
        }
        for (var i=0;i<xAxisData.length;i++){
            AmountData[i] = data1[xAxisData[i]];
            SellData[i] = data2[xAxisData[i]];
        }
        console.log(SellData);
        console.log(AmountData);
        var myChart = echarts.init(document.getElementById('city_differ'));
        var option = {
            title: {
                text: '不同城市之间的差异'
            },
            legend: {
                data: ['销售量','电商数量'],
                top: '6%'
            },
            toolbox: {
                feature: {
                    // magicType: {
                    //     type: ['stack','tiled']
                    // },
                    dataView: {},
                    saveAsImage: {
                        pixelRation: 2
                    }
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            tooltip: {},
            xAxis: {
                "axisLabel":{     //加上这个强制显示
                    interval: 0
                },
                data: xAxisData,
                splitLine: {
                    show: false
                }

            },
            yAxis:{

            },
            series: [{
                name: '销售量',
                type: 'bar',
                data: SellData,
                animationDelay: function (idx) {
                    return idx * 10;
                }
            },{
                name: '电商数量',
                type: 'bar',
                data: AmountData,
                animationDelay: function (idx) {
                    return idx * 10 + 100;
                }
            }],
            animationEasing: 'elasticOut',
            animationDelayUpdate: function (idx) {
                return idx * 5;

            }

        };
        myChart.setOption(option);
    }

    //不同年纪的偏好
    function age_differ() {
        var store = $("#StoreInfo").val();
        store = eval(store);
        var xAxisData = ["未成年人（18岁以下）","青年人(18——28岁)","壮年人(29——40岁)","中年人(41——65岁)","老年人(66岁以上)"];
        var data1 = {};
        var data2 = {};
        var data3 = {};
        var data4 = {};
        var data5 = {};
        var data6 = {};
        var data7 = {};
        var data8 = {};
        var Digital_electronics = [];
        var Kitchen = [];
        var medical_care = [];
        var Clothing_Accessories = [];
        var Food_drinking = [];
        var Beauty_care = [];
        var Toy_musical = [];
        var Book_Entertainment = [];
        var i = 0;
        for(i=0;i<xAxisData.length;i++){
            data1[xAxisData[i]] = 0;
            data2[xAxisData[i]] = 0;
            data3[xAxisData[i]] = 0;
            data4[xAxisData[i]] = 0;
            data5[xAxisData[i]] = 0;
            data6[xAxisData[i]] = 0;
            data7[xAxisData[i]] = 0;
            data8[xAxisData[i]] = 0;
        }
        for(i=0;i<store.length;i++){
            if (store[i].business_scope == "数码电子"){
                data1['未成年人（18岁以下）'] = data1['未成年人（18岁以下）'] + store[i].under_age;
                data1['青年人(18——28岁)'] = data1['青年人(18——28岁)'] + store[i].puber;
                data1['壮年人(29——40岁)'] = data1['壮年人(29——40岁)'] + store[i].young_man;
                data1['中年人(41——65岁)'] = data1['中年人(41——65岁)'] + store[i].middle_aged;
                data1['老年人(66岁以上)'] = data1['老年人(66岁以上)'] + store[i].aged;
                continue;
            }
            else if (store[i].business_scope == '家居厨具'){
                data2['未成年人（18岁以下）'] = data2['未成年人（18岁以下）'] + store[i].under_age;
                data2['青年人(18——28岁)'] = data2['青年人(18——28岁)'] + store[i].puber;
                data2['壮年人(29——40岁)'] = data2['壮年人(29——40岁)'] + store[i].young_man;
                data2['中年人(41——65岁)'] = data2['中年人(41——65岁)'] + store[i].middle_aged;
                data2['老年人(66岁以上)'] = data2['老年人(66岁以上)'] + store[i].aged;
                continue;
            }
            else if (store[i].business_scope == '医疗保健'){
                data3['未成年人（18岁以下）'] = data3['未成年人（18岁以下）'] + store[i].under_age;
                data3['青年人(18——28岁)'] = data3['青年人(18——28岁)'] + store[i].puber;
                data3['壮年人(29——40岁)'] = data3['壮年人(29——40岁)'] + store[i].young_man;
                data3['中年人(41——65岁)'] = data3['中年人(41——65岁)'] + store[i].middle_aged;
                data3['老年人(66岁以上)'] = data3['老年人(66岁以上)'] + store[i].aged;
                continue;
            }
            else if (store[i].business_scope == '服装配饰'){
                data4['未成年人（18岁以下）'] = data4['未成年人（18岁以下）'] + store[i].under_age;
                data4['青年人(18——28岁)'] = data4['青年人(18——28岁)'] + store[i].puber;
                data4['壮年人(29——40岁)'] = data4['壮年人(29——40岁)'] + store[i].young_man;
                data4['中年人(41——65岁)'] = data4['中年人(41——65岁)'] + store[i].middle_aged;
                data4['老年人(66岁以上)'] = data4['老年人(66岁以上)'] + store[i].aged;
                continue;
            }
            else if (store[i].business_scope == '食品酒饮'){
                data5['未成年人（18岁以下）'] = data5['未成年人（18岁以下）'] + store[i].under_age;
                data5['青年人(18——28岁)'] = data5['青年人(18——28岁)'] + store[i].puber;
                data5['壮年人(29——40岁)'] = data5['壮年人(29——40岁)'] + store[i].young_man;
                data5['中年人(41——65岁)'] = data5['中年人(41——65岁)'] + store[i].middle_aged;
                data5['老年人(66岁以上)'] = data5['老年人(66岁以上)'] + store[i].aged;
                continue;
            }
            else if (store[i].business_scope == '美妆护肤'){
                data6['未成年人（18岁以下）'] = data6['未成年人（18岁以下）'] + store[i].under_age;
                data6['青年人(18——28岁)'] = data6['青年人(18——28岁)'] + store[i].puber;
                data6['壮年人(29——40岁)'] = data6['壮年人(29——40岁)'] + store[i].young_man;
                data6['中年人(41——65岁)'] = data6['中年人(41——65岁)'] + store[i].middle_aged;
                data6['老年人(66岁以上)'] = data6['老年人(66岁以上)'] + store[i].aged;
                continue;
            }
            else if (store[i].business_scope == '玩具乐器'){
                data7['未成年人（18岁以下）'] = data7['未成年人（18岁以下）'] + store[i].under_age;
                data7['青年人(18——28岁)'] = data7['青年人(18——28岁)'] + store[i].puber;
                data7['壮年人(29——40岁)'] = data7['壮年人(29——40岁)'] + store[i].young_man;
                data7['中年人(41——65岁)'] = data7['中年人(41——65岁)'] + store[i].middle_aged;
                data7['老年人(66岁以上)'] = data7['老年人(66岁以上)'] + store[i].aged;
                continue;
            }
            else{
                data8['未成年人（18岁以下）'] = data8['未成年人（18岁以下）'] + store[i].under_age;
                data8['青年人(18——28岁)'] = data8['青年人(18——28岁)'] + store[i].puber;
                data8['壮年人(29——40岁)'] = data8['壮年人(29——40岁)'] + store[i].young_man;
                data8['中年人(41——65岁)'] = data8['中年人(41——65岁)'] + store[i].middle_aged;
                data8['老年人(66岁以上)'] = data8['老年人(66岁以上)'] + store[i].aged;
            }
        }
        for(i=0;i<xAxisData.length;i++){
            Digital_electronics[i] = data1[xAxisData[i]];
            Kitchen[i] = data2[xAxisData[i]]
            medical_care[i] = data3[xAxisData[i]];
            Clothing_Accessories[i] = data4[xAxisData[i]];
            Food_drinking[i] = data5[xAxisData[i]];
            Beauty_care[i] = data6[xAxisData[i]];
            Toy_musical[i] = data7[xAxisData[i]];
            Book_Entertainment[i] = data8[xAxisData[i]];
        }
        console.log(Toy_musical);
        console.log(Book_Entertainment);

        var myChart1 = echarts.init(document.getElementById('age_differ'));
        var option1 = {
            title: {
                text: '不同年龄偏好'
            },
            tooltip: {
                trigger: 'axis',
                formatter: function (params) {
                    let newParams = [];
                    let tooltipString = [];
                    newParams = [...params];
                    newParams.sort((a, b) => {
                        return b.value - a.value
                    });
                    newParams.forEach((p) => {
                        const cont = p.marker + ' ' + p.seriesName + ': ' + p.value + '<br/>';
                        tooltipString.push(cont);
                    });
                    return tooltipString.join('');
                }
            },
            legend: {
                data: ['数码电子', '家居厨具', '医疗保健', '服装配饰', '食品酒饮','美妆护肤','玩具乐器','图书文娱'],
                top: '6%'
            },
            grid: {
                left: '3%',
                right: '6%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ["未成年人（18岁以下）","青年人(18——28岁)","壮年人(29——40岁)","中年人(41——65岁)","老年人(66岁以上)"]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '数码电子',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    data: Digital_electronics
                },
                {
                    name: '家居厨具',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    data: Kitchen
                },
                {
                    name: '医疗保健',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    data: medical_care
                },
                {
                    name: '服装配饰',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    data: Clothing_Accessories
                },
                {
                    name: '食品酒饮',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    data: Food_drinking
                },
                {
                    name: '美妆护肤',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    data: Beauty_care
                },
                {
                    name: '玩具乐器',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    data: Toy_musical
                },
                {
                    name: '图书文娱',
                    type: 'line',
                    stack: '总量',
                    smooth: true,
                    data: Book_Entertainment
                }
            ]
        };
        myChart1.setOption(option1);
    }

    //地区边界
    function getdistrict() {
        getBoundary("四川");
    }
    function getBoundary(districtname) {
        var plys = [];
        var bdary = new BMap.Boundary();
        var line = bdary.get(districtname, function(rs) {
            var district = new Object();
            var count = rs.boundaries.length;
            //建立多边形覆盖物
            for(var i = 0; i < count; i++) {
                district.ply = new BMap.Polygon(rs.boundaries[i], {
                    strokeWeight: 2,
                    strokeOpacity: 0.8,
                    StrokeStyle: "solid",
                    strokeColor: "#1abc9c",
                    fillColor: "#ffffff",
                    fillOpacity: 0.2
                });
                plys.push(district.ply);
                map.addOverlay(district.ply); //添加覆盖物
            }
            district.ply.disableMassClear(); //添加不可去除标签
            return district;
        });
    }
    setTimeout(function() {
        getdistrict();
    }, 100);
    initMap();


</script>
</html>