<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/StoreManagerUpdate.css">
    <!--    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>-->
    <title>维护电商信息</title>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <link rel="shortcut icon" href="../../static/img/favicon.icon" type="image/x-icon">
</head>
<body>
<div id="div1">
    <img src="../../static/img/adminPic.jfif" />
    <label id="username" th:text="${UserName}"></label>
    <div id="managerPer">
        <a id="managerPerA" href="/AdminInfo">个人信息</a><br><br><br>
    </div>
    <div id="managerUser">
        <a id="managerUserA" href="/UserManager">用户管理</a><br><br><br>
    </div>
    <div id="managerStore">
        <a id="managerStoreA" href="/StoreManager">电商管理</a><br><br><br>
    </div>
</div>
<div id="div2">
    <div id="div3">
        <div id="update">
            <form method="post" id="form">
                <span id="updatetext">编辑电商信息</span><br /><br /><hr>

                <label id="usernametext">电商名称:</label><br /><br />
                <input type="text" id="store_name" name="store_name" placeholder="请输入电商名称" th:value="${store.store_name}"
                       required autocomplete="off" maxlength="10"><br />
<!--                <span style="position: absolute;top: 140px;left: 370px;color: #C8C8C8">无法更改</span>-->
                <input type="hidden" id="id" name="id" th:value="${store.id}">

                <label id="citytext">所在城市:</label><br /><br />
                <select id="city" name="city">
                    <option value="成都" th:selected="${store.city == '成都'}">成都</option>
                    <option value="澳门" th:selected="${store.city == '澳门'}">澳门</option>
                    <option value="北京" th:selected="${store.city == '北京'}">北京</option>
                    <option value="长春" th:selected="${store.city == '长春'}">长春</option>
                    <option value="长沙" th:selected="${store.city == '长沙'}">长沙</option>
                    <option value="重庆" th:selected="${store.city == '重庆'}">重庆</option>
                    <option value="福州" th:selected="${store.city == '福州'}">福州</option>
                    <option value="广州" th:selected="${store.city == '广州'}">广州</option>
                    <option value="贵阳" th:selected="${store.city == '贵阳'}">贵阳</option>
                    <option value="哈尔滨" th:selected="${store.city == '哈尔滨'}">哈尔滨</option>
                    <option value="海口" th:selected="${store.city == '海口'}">海口</option>
                    <option value="杭州" th:selected="${store.city == '杭州'}">杭州</option>
                    <option value="合肥" th:selected="${store.city == '合肥'}">合肥</option>
                    <option value="呼和浩特" th:selected="${store.city == '呼和浩特'}">呼和浩特</option>
                    <option value="济南" th:selected="${store.city == '济南'}">济南</option>
                    <option value="昆明" th:selected="${store.city == '昆明'}">昆明</option>
                    <option value="兰州" th:selected="${store.city == '兰州'}">兰州</option>
                    <option value="拉萨" th:selected="${store.city == '拉萨'}">拉萨</option>
                    <option value="南昌" th:selected="${store.city == '南昌'}">南昌</option>
                    <option value="南京" th:selected="${store.city == '南京'}">南京</option>
                    <option value="南宁" th:selected="${store.city == '南宁'}">南宁</option>
                    <option value="上海" th:selected="${store.city == '上海'}">上海</option>
                    <option value="沈阳" th:selected="${store.city == '沈阳'}">沈阳</option>
                    <option value="深圳" th:selected="${store.city == '深圳'}">深圳</option>
                    <option value="石家庄" th:selected="${store.city == '石家庄'}">石家庄</option>
                    <option value="台北" th:selected="${store.city == '台北'}">台北</option>
                    <option value="太原" th:selected="${store.city == '太原'}">太原</option>
                    <option value="天津" th:selected="${store.city == '天津'}">天津</option>
                    <option value="武汉" th:selected="${store.city == '武汉'}">武汉</option>
                    <option value="乌鲁木齐" th:selected="${store.city == '乌鲁木齐'}">乌鲁木齐</option>
                    <option value="西安" th:selected="${store.city == '西安'}">西安</option>
                    <option value="香港" th:selected="${store.city == '香港'}">香港</option>
                    <option value="西宁" th:selected="${store.city == '西宁'}">西宁</option>
                    <option value="银川" th:selected="${store.city == '银川'}">银川</option>
                    <option value="郑州" th:selected="${store.city == '郑州'}">郑州</option>
                </select><br>


                <label id="lontext">经度:</label><br /><br />
                <input type="text" id="lon" name="lon" placeholder="请输入电商位置经度" th:value="${store.lon}"
                       required autocomplete="off" maxlength="10" onkeyup="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"><br />

                <label id="lattext">纬度:</label><br /><br />
                <input type="text" id="lat" name="lat" placeholder="请输入电商位置纬度" th:value="${store.lat}"
                       required autocomplete="off" maxlength="10" onkeyup="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"><br />

                <label id="phonetext">客服热线:</label><br /><br />
                <input type="text" id="phone" name="phone" placeholder="请输入客服热线" th:value="${store.phone}"
                       required autocomplete="off" maxlength="11" oninput="value=value.replace(/[^\d]/g,'')"><br />

                <label>经营范围:</label><br /><br />
                <select id="business_scope" name="business_scope">
                    <option value="数码电子" th:selected="${store.business_scope == '数码电子'}">数码电子</option>
                    <option value="家居厨具" th:selected="${store.business_scope == '家居厨具'}">家居厨具</option>
                    <option value="医疗保健" th:selected="${store.business_scope == '医疗保健'}">医疗保健</option>
                    <option value="服装配饰" th:selected="${store.business_scope == '服装配饰'}">服装配饰</option>
                    <option value="食品酒饮" th:selected="${store.business_scope == '食品酒饮'}">食品酒饮</option>
                    <option value="美妆护肤" th:selected="${store.business_scope == '美妆护肤'}">美妆护肤</option>
                    <option value="玩具乐器" th:selected="${store.business_scope == '玩具乐器'}">玩具乐器</option>
                    <option value="图书文娱" th:selected="${store.business_scope == '图书文娱'}">图书文娱</option>
                </select><br>

                <button id="button1" type="submit">确定</button>
                <button id="button2" type="button" onclick="window.location.href='/StoreManager'">返回</button>
            </form>

                <span style="position: absolute;font-size: 13pt;top: 130px;left: 700px">销售情况</span>
                <label style="position: relative;top: -363px;left: 570px">未成年人（18岁以下）:&nbsp;</label>
                <input type="text" id="under_age" name="under_age" disabled maxlength="7"
                       th:value="${sales.under_age}" required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -363px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -363px;left: 570px">青年人（18——28岁）:</label>
                <input type="text" id="puber" name="puber" disabled maxlength="7"
                       th:value="${sales.puber}" required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -363px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -363px;left: 570px">壮年人（29——40岁）:</label>
                <input type="text" id="young_man" name="young_man" disabled maxlength="7"
                       th:value="${sales.young_man}" required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -363px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -363px;left: 570px">中年人（41——65岁）:</label>
                <input type="text" id="middle_aged" name="middle_aged" disabled maxlength="7"
                       th:value="${sales.middle_aged}" required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -363px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -363px;left: 570px">老年人（66岁以上）:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" id="aged" name="aged" disabled maxlength="7"
                       th:value="${sales.aged}" required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -363px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <button id="button3" type="button"><a onclick="DeleteStore()" style="cursor: pointer">删除电商数据</a></button>

            <label style="position:absolute;top: 30px;left:390px">请输入导入文件的路径：</label>
            <input id="filepath" style="position: absolute;top: 25px;left: 570px;width: 250px;height: 25px;">
            <button id="import" onclick="importFile()">确定导入</button>
            <button id="GoDetails" type="button"><a onclick="GoRecord()" style="cursor: pointer">查看销售记录</a></button>

        </div>

    </div>
</div>
<script>
    $.fn.serializeObject=function(){
        var hasOwnProperty=Object.prototype.hasOwnProperty;
        return this.serializeArray().reduce(function(data,pair){
            if(!hasOwnProperty.call(data,pair.name)){
                data[pair.name]=pair.value;
            }
            return data;
        },{});
    };

    $('#form').on('submit', function (e) {
        e.preventDefault();
        var data = $('#form').serializeObject();
        $.ajax({
            url: '/StoreManagerUpdate',
            type: 'post',
            data: JSON.stringify(data),
            // header: {'Content-Type': 'application/json;charset=utf-8'},
            contentType: 'application/json',
            dataType: 'json',
            success:function (res) {
                if(res.code == 200) {
                    alert(res.desc);
                    window.location.href = "/StoreManager";
                }else {
                    alert(res.desc);
                }
            }
        });
    });

    function DeleteStore() {
        const data = $('#form').serializeObject();
        if(confirm("确定要删除该电商数据吗？")){
            $.ajax({
                url: '/StoreManagerDelete',
                type: 'post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(data),
                success:function (res) {
                    if (res.code == 200){
                        window.location.href = "/StoreManager";
                    }else{
                        alert(res.desc);
                    }
                }
            });
        }else{
            return false;
        }
    };

    function importFile(){
        var filepath = $("#filepath").val();
        var id = $("#id").val();
        var data = {"filepath":filepath,"id":id};
        console.log(data);
        $.ajax({
            url: '/import',
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify(data),
            success:function (res) {
                if (res.code == 200){
                    alert(res.desc);
                    window.location.reload();
                }else{
                    alert(res.desc);
                }
            }
        });
    }

    function GoRecord() {
        var store_id = $("#id").val();
        window.location.href = "/StoreManager/RecordDetails?store_id="+store_id;
    }

</script>
</body>
</html>