<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/StoreManagerUpdate.css">
    <!--    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>-->
    <title>维护电商信息</title>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <link rel="shortcut icon" href="../../static/img/favicon.icon" type="image/x-icon">
</head>
<body>
<div id="div1">
    <img src="../../static/img/adminPic.jfif" />
    <label id="username" th:text="${UserName}"></label>
    <div id="managerPer">
        <a id="managerPerA" href="/AdminInfo">个人信息</a><br><br><br>
    </div>
    <div id="managerUser">
        <a id="managerUserA" href="/UserManager">用户管理</a><br><br><br>
    </div>
    <div id="managerStore">
        <a id="managerStoreA" href="/StoreManager">电商管理</a><br><br><br>
    </div>
</div>
<div id="div2">
    <div id="div3">
        <div id="update">
            <form method="post" id="form">
                <span id="updatetext">编辑电商信息</span><br /><br /><hr>

                <label id="usernametext">电商名称:</label><br /><br />
                <input type="text" id="username5" name="username" placeholder="请输入电商名称" th:value="${store.store_name}"
                       required="required" autocomplete="off" maxlength="10" readonly="readonly"><br />
                <span style="position: absolute;top: 140px;left: 370px;color: #C8C8C8">无法更改</span>

                <label id="citytext">所在城市:</label><br /><br />
<!--                <input type="text" id="city" name="city" placeholder="请选择电商所在城市" th:value="${user.age}"-->
<!--                       required="required" autocomplete="off" maxlength="3" oninput="value=value.replace(/^(0+)|[^\d]+/g,'')"><br />-->
                <select id="city">
                    <option value="成都" th:selected="${store.city == '成都'}">成都</option>
                    <option value="深圳" th:selected="${store.city == '深圳'}">深圳</option>
                    <option value="北京" th:selected="${store.city == '北京'}">北京</option>
                </select><br>


                <label id="lontext">经度:</label><br /><br />
                <input type="text" id="lon" name="lon" placeholder="请输入电商位置经度" th:value="${store.lon}"
                       required="required" autocomplete="off" maxlength="11" oninput="value=value.replace(/[^\d]/g,'')"><br />

                <label id="lattext">纬度:</label><br /><br />
                <input type="text" id="lat" name="lat" placeholder="请输入电商位置纬度" th:value="${store.lat}"
                       required="required" autocomplete="off" maxlength="16"><br />

                <label id="phonetext">客服热线:</label><br /><br />
                <input type="text" id="phone" name="phone" placeholder="请输入邮件" th:value="${store.phone}"
                       required="required" autocomplete="off" maxlength="16"><br />

                <label>经营范围:</label><br /><br />
                <select id="business_scope">
                    <option value="服装衣帽" th:selected="${store.business_scope == '服装衣帽'}">服装衣帽</option>
                    <option value="游戏电竞" th:selected="${store.business_scope == '游戏电竞'}">游戏电竞</option>
                    <option value="数码器材" th:selected="${store.business_scope == '数码器材'}">数码器材</option>
                </select><br>

                <span style="position: absolute;font-size: 13pt;top: 130px;left: 700px">销售情况</span>


                <button id="button1" type="submit">确定</button>
                <button id="button2" type="button" onclick="window.location.href='/UserManager'">返回</button>
                <button id="button3" type="button"><a onclick="DeleteUser()" style="cursor: pointer">删除用户</a></button>

            </form>
        </div>

    </div>
</div>
<script>
    $.fn.serializeObject=function(){
        var hasOwnProperty=Object.prototype.hasOwnProperty;
        return this.serializeArray().reduce(function(data,pair){
            if(!hasOwnProperty.call(data,pair.name)){
                data[pair.name]=pair.value;
            }
            return data;
        },{});
    };

    $('#form').on('submit', function (e) {
        e.preventDefault();
        var data = $('#form').serializeObject();
        $.ajax({
            url: '/UserManagerUpdate',
            type: 'post',
            data: JSON.stringify(data),
            // header: {'Content-Type': 'application/json;charset=utf-8'},
            contentType: 'application/json',
            dataType: 'json',
            success:function (res) {
                if(res.code == 200) {
                    alert(res.desc);
                    window.location.href = "/UserManager";
                }else {
                    alert(res.desc);
                }
            }
        });
    });

    function DeleteUser() {
        const data = $('#form').serializeObject();
        if(confirm("确定要删除该用户吗？")){
            $.ajax({
                url: '/UserManagerDelete',
                type: 'post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(data),
                success:function (res) {
                    if (res.code == 200){
                        window.location.href = "/UserManager";
                    }else{
                        alert(res.desc);
                    }
                }
            });
        }else{
            return false;
        }
    };
</script>
</body>
</html>