<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/StoreManagerAdd.css">
    <!--    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>-->
    <title>添加电商数据</title>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <link rel="shortcut icon" href="../../static/img/favicon.icon" type="image/x-icon">
</head>
<body>
<div id="div1">
    <img src="../../static/img/adminPic.jfif" />
    <label id="username" th:text="${UserName}"></label>
    <div id="managerPer">
        <a id="managerPerA" href="/AdminInfo">个人信息</a><br><br><br>
    </div>
    <div id="managerUser">
        <a id="managerUserA" href="/UserManager">用户管理</a><br><br><br>
    </div>
    <div id="managerStore">
        <a id="managerStoreA" href="/StoreManager">电商管理</a><br><br><br>
    </div>
</div>
<div id="div2">
    <div id="div3">
        <div id="update">
            <form method="post" id="form">
                <span id="updatetext">添加电商数据</span><br /><br /><hr>

                <label id="usernametext">电商名称:</label><br /><br />
                <input type="text" id="store_name" name="store_name" placeholder="请输入电商名称"
                       required autocomplete="off" maxlength="10"><br />

                <label id="citytext">所在城市:</label><br /><br />
                <select id="city" name="city">
                    <option value="成都" selected>成都</option>
                    <option value="澳门">澳门</option>
                    <option value="北京">北京</option>
                    <option value="长春">长春</option>
                    <option value="长沙">长沙</option>
                    <option value="重庆">重庆</option>
                    <option value="福州">福州</option>
                    <option value="广州">广州</option>
                    <option value="贵阳">贵阳</option>
                    <option value="哈尔滨">哈尔滨</option>
                    <option value="海口">海口</option>
                    <option value="杭州">杭州</option>
                    <option value="合肥">合肥</option>
                    <option value="呼和浩特">呼和浩特</option>
                    <option value="济南">济南</option>
                    <option value="昆明">昆明</option>
                    <option value="兰州">兰州</option>
                    <option value="拉萨">拉萨</option>
                    <option value="南昌">南昌</option>
                    <option value="南京">南京</option>
                    <option value="南宁">南宁</option>
                    <option value="上海">上海</option>
                    <option value="沈阳">沈阳</option>
                    <option value="深圳">深圳</option>
                    <option value="石家庄">石家庄</option>
                    <option value="台北">台北</option>
                    <option value="太原">太原</option>
                    <option value="天津">天津</option>
                    <option value="武汉">武汉</option>
                    <option value="乌鲁木齐">乌鲁木齐</option>
                    <option value="西安">西安</option>
                    <option value="香港">香港</option>
                    <option value="西宁">西宁</option>
                    <option value="银川">银川</option>
                    <option value="郑州">郑州</option>
                </select><br>


                <label id="lontext">经度:</label><br /><br />
                <input type="text" id="lon" name="lon" placeholder="请输入电商位置经度"
                       required autocomplete="off" maxlength="10" onkeyup="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"><br />

                <label id="lattext">纬度:</label><br /><br />
                <input type="text" id="lat" name="lat" placeholder="请输入电商位置纬度"
                       required autocomplete="off" maxlength="10" onkeyup="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"><br />

                <label id="phonetext">客服热线:</label><br /><br />
                <input type="text" id="phone" name="phone" placeholder="请输入客服热线"
                       required autocomplete="off" maxlength="11" oninput="value=value.replace(/[^\d]/g,'')"><br />

                <label>经营范围:</label><br /><br />
                <select id="business_scope" name="business_scope">
                    <option value="数码电子">数码电子</option>
                    <option value="家居厨具">家居厨具</option>
                    <option value="医疗保健">医疗保健</option>
                    <option value="服装配饰">服装配饰</option>
                    <option value="食品酒饮">食品酒饮</option>
                    <option value="美妆护肤">美妆护肤</option>
                    <option value="玩具乐器">玩具乐器</option>
                    <option value="图书文娱">图书文娱</option>
                </select><br>

                <span style="position: absolute;font-size: 13pt;top: 130px;left: 700px">销售情况</span>
                <label style="position: relative;top: -333px;left: 570px">未成年人（18岁以下）:&nbsp;</label>
                <input type="text" id="under_age" name="under_age" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -333px;left: 570px">青年人（18——28岁）:</label>
                <input type="text" id="puber" name="puber" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -333px;left: 570px">壮年人（29——40岁）:</label>
                <input type="text" id="young_man" name="young_man" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -333px;left: 570px">中年人（41——65岁）:</label>
                <input type="text" id="middle_aged" name="middle_aged" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -333px;left: 570px">老年人（66岁以上）:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" id="aged" name="aged" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <button id="button1" type="submit">确定</button>
                <button id="button2" type="button" onclick="window.location.href='/StoreManager'">返回</button>

            </form>
        </div>

    </div>
</div>
<script>
    $.fn.serializeObject=function(){
        var hasOwnProperty=Object.prototype.hasOwnProperty;
        return this.serializeArray().reduce(function(data,pair){
            if(!hasOwnProperty.call(data,pair.name)){
                data[pair.name]=pair.value;
            }
            return data;
        },{});
    };

    $('#form').on('submit', function (e) {
        e.preventDefault();
        var data = $('#form').serializeObject();
        $.ajax({
            url: '/StoreManagerAdd',
            type: 'post',
            data: JSON.stringify(data),
            // header: {'Content-Type': 'application/json;charset=utf-8'},
            contentType: 'application/json',
            dataType: 'json',
            success:function (res) {
                if(res.code == 200) {
                    alert(res.desc);
                    window.location.href = "/StoreManager";
                }else {
                    alert(res.desc);
                }
            }
        });
    });
</script>
</body>
</html>