<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/StoreManagerAdd.css">
    <!--    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>-->
    <title>添加电商数据</title>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <link rel="shortcut icon" href="../../static/img/favicon.icon" type="image/x-icon">
</head>
<body>
<div id="div1">
    <img src="../../static/img/adminPic.jfif" />
    <label id="username" th:text="${UserName}"></label>
    <div id="managerPer">
        <a id="managerPerA" href="/AdminInfo">个人信息</a><br><br><br>
    </div>
    <div id="managerUser">
        <a id="managerUserA" href="/UserManager">用户管理</a><br><br><br>
    </div>
    <div id="managerStore">
        <a id="managerStoreA" href="/StoreManager">电商管理</a><br><br><br>
    </div>
</div>
<div id="div2">
    <div id="div3">
        <div id="update">
            <form method="post" id="form">
                <span id="updatetext">添加电商数据</span><br /><br /><hr>

                <label id="usernametext">电商名称:</label><br /><br />
                <input type="text" id="store_name" name="store_name" placeholder="请输入电商名称"
                       required autocomplete="off" maxlength="10"><br />

                <label id="citytext">所在城市:</label><br /><br />
                <select id="city" name="city">
                    <option value="成都" selected>成都</option>
                    <option value="深圳">深圳</option>
                    <option value="北京">北京</option>
                </select><br>


                <label id="lontext">经度:</label><br /><br />
                <input type="text" id="lon" name="lon" placeholder="请输入电商位置经度"
                       required autocomplete="off" maxlength="10" onkeyup="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"><br />

                <label id="lattext">纬度:</label><br /><br />
                <input type="text" id="lat" name="lat" placeholder="请输入电商位置纬度"
                       required autocomplete="off" maxlength="10" onkeyup="value=value.replace(/[^\d^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.')"><br />

                <label id="phonetext">客服热线:</label><br /><br />
                <input type="text" id="phone" name="phone" placeholder="请输入客服热线"
                       required autocomplete="off" maxlength="11" oninput="value=value.replace(/[^\d]/g,'')"><br />

                <label>经营范围:</label><br /><br />
                <select id="business_scope" name="business_scope">
                    <option value="国际名牌" selected>国际名牌</option>
                    <option value="电脑办公">电脑办公</option>
                    <option value="运动">运动</option>
                    <option value="家电">家电</option>
                    <option value="手机">手机</option>
                    <option value="家居厨具">家居厨具</option>
                    <option value="医疗保健">医疗保健</option>
                    <option value="内衣配饰">内衣配饰</option>
                    <option value="食品酒饮">食品酒饮</option>
                    <option value="家装">家装</option>
                    <option value="宠物鲜花">宠物鲜花</option>
                    <option value="美妆护肤">美妆护肤</option>
                    <option value="母婴">母婴</option>
                    <option value="洗护">洗护</option>
                    <option value="男装">男装</option>
                    <option value="女装">女装</option>
                    <option value="鞋靴">鞋靴</option>
                    <option value="玩具乐器">玩具乐器</option>
                    <option value="计生情趣">计生情趣</option>
                    <option value="生鲜">生鲜</option>
                    <option value="数码">数码</option>
                    <option value="车品">车品</option>
                    <option value="腕表珠宝">腕表珠宝</option>
                    <option value="箱包">箱包</option>
                    <option value="图书文娱">图书文娱</option>
                    <option value="二手商品">二手商品</option>
                    <option value="生活旅行">生活旅行</option>
                </select><br>

                <span style="position: absolute;font-size: 13pt;top: 130px;left: 700px">销售情况</span>
                <label style="position: relative;top: -333px;left: 570px">未成年人（18岁以下）:&nbsp;</label>
                <input type="text" id="under_age" name="under_age" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -333px;left: 570px">青年人（18——28岁）:</label>
                <input type="text" id="puber" name="puber" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -333px;left: 570px">壮年人（29——40岁）:</label>
                <input type="text" id="young_man" name="young_man" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -333px;left: 570px">中年人（41——65岁）:</label>
                <input type="text" id="middle_aged" name="middle_aged" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <label style="position: relative;top: -333px;left: 570px">老年人（66岁以上）:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" id="aged" name="aged" placeholder="请输入销售数据" maxlength="7"
                       required autocomplete="off" oninput="value=value.replace(/[^\d]+/g,'')"
                       style="position: relative;top: -333px;left: 570px;width: 200px;height: 30px"><br /><br /><br />

                <button id="button1" type="submit">确定</button>
                <button id="button2" type="button" onclick="window.location.href='/StoreManager'">返回</button>

            </form>
        </div>

    </div>
</div>
<script>
    $.fn.serializeObject=function(){
        var hasOwnProperty=Object.prototype.hasOwnProperty;
        return this.serializeArray().reduce(function(data,pair){
            if(!hasOwnProperty.call(data,pair.name)){
                data[pair.name]=pair.value;
            }
            return data;
        },{});
    };

    $('#form').on('submit', function (e) {
        e.preventDefault();
        var data = $('#form').serializeObject();
        $.ajax({
            url: '/StoreManagerAdd',
            type: 'post',
            data: JSON.stringify(data),
            // header: {'Content-Type': 'application/json;charset=utf-8'},
            contentType: 'application/json',
            dataType: 'json',
            success:function (res) {
                if(res.code == 200) {
                    alert(res.desc);
                    window.location.href = "/StoreManager";
                }else {
                    alert(res.desc);
                }
            }
        });
    });
</script>
</body>
</html>