body{
    margin: 0;
    padding: 0;
}

#div1{
    /*background-color: #4A7BF7;*/
    position: absolute;
    width: 13%;
    height: 100%;
    background-image: linear-gradient(to right,#EB3349,#F45C43);
    /*background-image: linear-gradient(#6AC6E0,#685EE9);*/
}

#div2{
    position: absolute;
    width: 87%;
    height: 100%;
    left:13%;
    top:0px;
    background-color: #F9F6F2;
}

#div3{
    position: absolute;
    margin: 2%;
    width: 96%;
    height: 92%;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

img {
    /*width="60px" height="60px" style="border-radius:60%"*/
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -8%)
}

#username{
    color: white;
    position: absolute;
    left: 50%;
    top: 21%;
    transform: translate(-50%, -21%);
    font-weight: bold;
    font-size: 12pt;
}

#managerPer{
    position: absolute;
    width: 221px;
    height: 50px;
    top: 270px;
    background-color: #F57569;
}
#managerPerA{
    position: relative;
    top: 15px;
    left: 75px;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    text-decoration: none;
}

#managerUserA{
    position: relative;
    top: 365px;
    left: 75px;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    text-decoration: none;
}

#managerStoreA{
    position: relative;
    top: 375px;
    left: 75px;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    text-decoration: none;
}

#personImg{
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80px;
    height: 80px;
}

label{
    position: relative;
    font-size: 15pt;
    font-weight: bold;
    color: #555555;
    top:200px;
    left:110px
}

hr{
    position: relative;
    top: 155px;
    width: 1300px;
    border:0px;
    border-bottom:1px solid #E0E0E0;
}

input{
    border-radius: 20px;
    border: solid 1px #DDE4E6;
    background-color: #FBFCFC;
    text-indent: 7px;
    height: 34px;
    width: 400px;
    font-size: 13pt;
    letter-spacing:1px;
    text-align: center;
}
input:focus{
    outline:none;
    border-radius: 20px;
    border: solid 1px dodgerblue;
}

#text-password{
    position: absolute;
    font-size: 13pt;
    color: #888888;
    top: 265px;
    left: 700px;
}

#text-phone{
    position: absolute;
    font-size: 13pt;
    color: #888888;
    top: 400px;
    left: 700px;
}

#text-email{
    position: absolute;
    font-size: 13pt;
    color: #888888;
    top: 540px;
    left: 700px;
}

#edit{
    position: absolute;
    top:680px;
    left: 640px;
    height: 42px;
    width:90px;
    font-size: 13pt;
    border: none;
    outline: none;
    color: #555555;
    font-weight: bold;
    border-radius: 20px;
}
#edit:hover{
    background-color: #C6C6C6;
}

#submit{
    position: absolute;
    top:680px;
    left: 520px;
    height: 42px;
    width:90px;
    font-size: 13pt;
    border: none;
    outline: none;
    color: #555555;
    font-weight: bold;
    border-radius: 20px;
    display: none;
}
#submit:hover{
    background-color: #C6C6C6;
}

#back{
    position: absolute;
    top:680px;
    left: 760px;
    height: 42px;
    width:90px;
    font-size: 13pt;
    border: none;
    outline: none;
    color: #555555;
    font-weight: bold;
    border-radius: 20px;
    display: none;
}
#back:hover{
    background-color: #C6C6C6;
}

input.change::-webkit-input-placeholder{
    color: red;
}