body{
    margin: 0;
    padding: 0;
}

#div1{
    /*background-color: #4A7BF7;*/
    position: absolute;
    width: 14%;
    height: 100%;
    /*background-image: linear-gradient(#9198e5,#e66465);*/
    background-image: linear-gradient(#6AC6E0,#685EE9);
}
/*img {*/
/*    !*width="60px" height="60px" style="border-radius:60%"*!*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    top: 8%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -8%)*/         /*tmd，这段代码放在这里会导致地图上有规律的显示遮挡，md，害我找了一下午，人都蒙蔽了*/
/*}*/

label{
    position: relative;
    top: 370px;
    left: 10px;
    font-weight: bold;
    color: white;
}

input{
    width: 150px;
    height: 21px;
    /*border: none;*/
    /*outline: none;*/
    text-align: center;
}

#username{
    color: white;
    position: absolute;
    left: 50%;
    top: 21%;
    transform: translate(-50%, -21%);
    font-weight: bold;
    font-size: 14pt;
}

#personInfo{
    color: white;
    position: absolute;
    left: 50%;
    top: 41%;
    transform: translate(-50%, -41%);
    font-weight: bold;
    font-size: 14pt;
}

#edit{
    position: absolute;
    top: 680px;
    left: 145px;
    transform: translate(-84%, -60%);
    width: 60px;
    background-color: white;
    border: none;
    outline: none;
    font-weight: bold;
    color: #4A7BF7;
    height: 27px;
    font-size: 13px;
}
#edit:hover{
    background-color: #EBEBE4;
}

#submit{
    position: absolute;
    top: 680px;
    left: 90px;
    transform: translate(-84%, -35%);
    width: 60px;
    background-color: white;
    border: none;
    outline: none;
    font-weight: bold;
    color: #4A7BF7;
    height: 26px;
    display: none;
    font-size: 13px;
}
#submit:hover{
    background-color: #EBEBE4;
}

#back{
    position: absolute;
    top: 680px;
    left: 210px;
    transform: translate(-84%, -35%);
    width: 60px;
    background-color: white;
    border: none;
    outline: none;
    font-weight: bold;
    color: #4A7BF7;
    height: 26px;
    display: none;
    font-size: 13px;
}
#back:hover{
    background-color: #EBEBE4;
}

/*.AgeClass.change::-webkit-input-placeholder{*/
/*    color: red;*/
/*}*/

input.change::-webkit-input-placeholder{
    color: red;
}


body,
html,
#allmap {
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑";
}

.anchorBL {
    display: none;
}