body{
    margin: 0;
    padding: 0;
}

#div1{
    /*background-color: #4A7BF7;*/
    position: absolute;
    width: 12%;
    height: 100%;
    background-image: linear-gradient(to right,#EB3349,#F45C43);
    /*background-image: linear-gradient(#6AC6E0,#685EE9);*/
}

#div2{
    position: absolute;
    width: 88%;
    height: 100%;
    left:12%;
    top:0px;
    background-color: #F9F6F2;
}

img {
    /*width="60px" height="60px" style="border-radius:60%"*/
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -8%)
}

#username{
    color: white;
    position: absolute;
    left: 50%;
    top: 21%;
    transform: translate(-50%, -21%);
    font-weight: bold;
    font-size: 12pt;
}

#managerPer{
    position: absolute;
    width: 204px;
    height: 50px;
    top: 270px;
    background-color: #F57569;
}
#managerPerA{
    position: relative;
    top: 15px;
    left: 64px;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    text-decoration: none;
}

#managerUserA{
    position: relative;
    top: 365px;
    left: 64px;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    text-decoration: none;
}

#managerStoreA{
    position: relative;
    top: 375px;
    left: 64px;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    text-decoration: none;
}