body{
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-y: hidden;
}
#div1{
    /*background-color: #4A7BF7;*/
    position: absolute;
    width: 13%;
    height: 100%;
    background-image: linear-gradient(to right,#EB3349,#F45C43);
    /*background-image: linear-gradient(#6AC6E0,#685EE9);*/
}

#div2{
    position: absolute;
    width: 87%;
    height: 100%;
    left:13%;
    top:0px;
    background-color: #F9F6F2;
}

#div3{
    position: absolute;
    margin: 2%;
    width: 96%;
    height: 92%;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

img {
    /*width="60px" height="60px" style="border-radius:60%"*/
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -8%)
}

#username{
    color: white;
    position: absolute;
    left: 50%;
    top: 21%;
    transform: translate(-50%, -21%);
    font-weight: bold;
    font-size: 12pt;
}

#managerPerA{
    position: relative;
    top: 285px;
    left: 75px;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    text-decoration: none;
}

#managerUserA{
    position: relative;
    top: 299.5px;
    left: 75px;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    text-decoration: none;
}

#managerStore{
    position: absolute;
    width: 221px;
    height: 52px;
    top: 426px;
    background-color: #F57569;
}

#managerStoreA{
    position: relative;
    top: 15px;
    left: 75px;
    font-weight: bold;
    color: white;
    font-size: 13pt;
    text-decoration: none;
}


#Thead th{
    height: 50px;
    border: 0px;
    font-size: 13pt;
}
#Tbody td{
    height: 55px;
    border: 0px;
    font-size: 13pt;
    color: #505659;
}
table,tr{
    border: 1px solid #E8E8E8;
}
#Thead{
    position: absolute;
    width: 1407px;
    top: 120px ;
    border-collapse: collapse;
    table-layout: fixed;
}
#Tbody{
    position: absolute;
    width: 100%;
    top: 0px ;
    border-collapse: collapse;
    table-layout: fixed;
}

#QueryStoreName{
    position: absolute;
    top: 60px;
    font-size: 13pt;
    left: 50px;
}
#QueryStoreNameText {
    border-radius: 5px;
    border: solid 1px #DDE4E6;
    height: 25px;
    width: 200px;
    font-size: 12pt;
    text-indent: 7px;
}
#QueryStoreNameText:focus{
    outline:none;
    border-radius: 5px;
    border: solid 1px dodgerblue;
}

#QueryCity{
    position: absolute;
    top: 60px;
    font-size: 13pt;
    left: 370px;
}
#QueryCityText{
    border-radius: 5px;
    border: solid 1px #DDE4E6;
    height: 30px;
    width: 100px;
    font-size: 12pt;
    text-indent: 7px;
}
#QueryCityText:focus{
    outline:none;
    border-radius: 5px;
    border: solid 1px dodgerblue;
}

#QueryScope{
    position: absolute;
    top: 60px;
    font-size: 13pt;
    left: 590px;
}
#QueryScopeText{
    border-radius: 5px;
    border: solid 1px #DDE4E6;
    height: 30px;
    width: 100px;
    font-size: 12pt;
    text-indent: 7px;
}
#QueryScopeText:focus{
    outline:none;
    border-radius: 5px;
    border: solid 1px dodgerblue;
}

#QueryPhone{
    position: absolute;
    top: 60px;
    font-size: 13pt;
    left: 825px;
}
#QueryPhoneText{
    border-radius: 5px;
    border: solid 1px #DDE4E6;
    height: 27px;
    width: 150px;
    font-size: 12pt;
    text-indent: 7px;
}
#QueryPhoneText:focus{
    outline:none;
    border-radius: 5px;
    border: solid 1px dodgerblue;
}

#QueryButton{
    position: absolute;
    top: 60px;
    width: 90px;
    height: 35px;
    left: 1130px;
    border-radius: 25px;
    border: none;
    font-size: 11pt;
    color: white;
    background-color: #1890FF;
    cursor: pointer;
}
#QueryButton:hover{
    background-color: #40A9FF;
}
#QueryButton:focus{
    outline:none;
    border-radius: 25px;
    border: solid 1px dodgerblue;
}

#AddButton{
    position: absolute;
    border: none;
    left: 1270px;
    top: 60px;
    width: 100px;
    height: 35px;
    font-size: 11pt;
    border-radius: 20px;
    color: white;
    background-color: #1890FF;
    cursor: pointer;
}
#AddButton:hover{
    background-color: #317EF3;
}
#AddButton:focus{
    outline:none;
    border-radius: 25px;
    border: solid 1px dodgerblue;
}