<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>互联网零售可视化系统</title>
	<link rel="stylesheet" href="../static/css/login.css">
<!--	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>-->
	<script th:src="@{/static/js/jquery.min.js}"></script>
	<link rel="shortcut icon" href="../static/img/favicon.icon" type="image/x-icon">
</head>
<body>
<div id="login">
	<form method="post" id="form" onsubmit="return checkDisable();">
		<p id="p">您好!<br />
		欢迎使用互联网零售可视化系统</p><br />
		<div id="usertext">用户名<br /></div>
		<input id="username" name="username" type="text" required="required" autocomplete="off" maxlength="10">
		<br /><br />
		<div id="passwordtext">密码<br /></div>
		<input id="password" name="password" type="password" required="required" autocomplete="off" maxlength="16" style="letter-spacing:3px">
		<br /><br />

		<input name="role" type="checkbox" value="用户" checked disabled style="position: absolute;top: 64%;left: 24%;width: 14px">
		<span style="position: relative;top: 10px;left: 29%;font-size: 13px;color: #8B959C;">用户</span>

		<input id="AdCheck" name="role" type="checkbox" value="管理员" checked="" style="position: absolute;top: 64%;left: 64%;width: 14px">
		<span style="position: relative;top: 10px;left: 62%;font-size: 13px;color: #8B959C;">管理员</span>


		<label>用户名或密码错误！</label>
		<button id="button" type="submit">登录</button>
		<a id="href" href="/GoRegister">注册</a>
	</form>
</div>

<script>
	// 将表单内容封装成json对象0
	$.fn.serializeObject=function(){
	    var hasOwnProperty=Object.prototype.hasOwnProperty;  
	    return this.serializeArray().reduce(function(data,pair){  
	        if(!hasOwnProperty.call(data,pair.name)){  
	            data[pair.name]=pair.value;  
	        }  
	        return data; 
	    },{});  
	}; 
	$('#form').on('submit', function(e) {
		e.preventDefault();
		$("input").blur();			/*使input失去焦点，方便当用户使用Enter登录时，错误信息的展示*/
		var data = $('#form').serializeObject();
		$.ajax({
			url: '/login',
			type: 'post',
			data: JSON.stringify(data),
	   		headers: {'Content-Type': 'application/json;charset=utf-8'}, 
 			dataType: 'json',
			success: function(res) {
				if(res.code==400){
					$("label").css("color","red");		/* 当登录失败时，显示错误提示信息 */
					$("input[name='role']:checked").each(function () {		/*登录失败时，记得将选中项设置为不可点击取消*/
						$(this).attr("disabled",true);
					})
				}else {
					if(res.role == "用户"){
						window.location.href = "/UserInfo";
					}else {
						window.location.href = "/AdminInfo";
					}

				}
			}
		});
	})

// 	当鼠标聚焦输入框时，隐藏错误信提示息
	$("input").focus(function(){
		$("label").css("color", "white");
	});

	$("#AdCheck").removeAttr("checked");
	//实现复选框最多可以选择一个
	$(function () {
		$(":checkbox").click(function () {
			$(this).attr("disabled",true);
			$(this).attr("checked",true);
			$(this).siblings().attr("disabled",false);
			$(this).siblings().attr("checked",false);
		});
	});

	//提交表单之前，将checkbox设置为可编辑，否则将无法传值到后台
	function checkDisable() {
		$(":checkbox").removeAttr("disabled");
	}

	//返回至登录页面时，强制刷新页面，否则会出现管理员登录，返回上一页面后，仍然选中管理员角色
	if(window.name!="bencalie"){
		location.reload();
		window.name = "bencalie";
	}else {
		window.name="";
	}
		
</script>
</body>
</html>